.banner__cover {
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;    
}

.banner__images {
    text-align: center;
}

.banner__logo {
    position: absolute;
    display: block;
    top: 64px;
    width: 100%;
}

.martins_logo {
    height: 200px;
    width: auto;
}

