.banner {
    height: 300px;
}

.banner__cover {
    object-fit: cover;   
    height: 300px;
    width: 100%;
    overflow: hidden;   
}

.banner__images {
    text-align: center;
}

.banner__logo {
    position: absolute;
    display: block;
    top: 30px;
    width: 100%
}

.logo {
    height: 250px;
    width: auto;
}

