.weatherwrapper {
    display: flex;
}

.weatherBox {
    display: flex;
    flex-flow: column;
    border: 1px black solid;
}

.weatherBox__title {
    border: 1px black solid;
}

.weatherBox__element {
    border: 1px black solid;
    display: flex;
    flex-flow: row;
}

.weatherItem {
    border: 1px black solid;
}