.weatherwrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.weatherBox {
    display: flex;
    flex-flow: column;    
}

.weatherBox__title {
    /* border: 1px black solid; */
    display: flex;
    width: 50%;
    text-align: left;
    margin: 20px 0 0 0;
    padding: 5px 10px;
    border-radius: 0 18px 0 0;
}

.weatherBox__title > h3 {
 margin: 0rem .5rem;
}

.weatherBox__element {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border-radius: 0 18px 0 18px;
    background-color:skyblue;
    border: 2px black solid;
}

.weatherItem {
    display: flex;
    justify-content: space-around;
    margin: .2rem;
    border-radius: 4px;
    border-radius: 0 18px 0 18px;
}

.weatherItem__data {
    display: flex;
    flex-flow: column;
    padding: .1rem;
    width: 95%;   
}

.weatherItem__data--element {
    height: 95%;
    width: auto;
    padding: .1rem;
    margin: .1rem;
    
}

.weatherItem__data--icon {
  background-color: lightsteelblue;
  border-radius: 0 18px 0 18px;
  margin: .1rem;
  border: 2px black solid;
  height: 9rem;
  width: 9rem;
}
